.ipynb_checkpoints/
machine-learning/__pycache__/
machine-learning/checkpoint
machine-learning/logs/
machine-learning/t10k-images-idx3-ubyte
machine-learning/t10k-labels-idx1-ubyte
machine-learning/train-images-idx3-ubyte
machine-learning/train-labels-idx1-ubyte
machine-learning/train-model.data-00000-of-00001
machine-learning/train-model.index
machine-learning/train-model.meta
deep-learning/ch04/__pycache__/
Industrial-Organization/Data20190514.csv
Industrial-Organization/Data2019PS2.csv
Industrial-Organization/FakeDataStaticGame2019.csv
endo_net/endo_net.aux
endo_net/endo_net.dvi
endo_net/endo_net.fdb_latexmk
endo_net/endo_net.fls
endo_net/endo_net.log
endo_net/endo_net.pdf
endo_net/endo_net.synctex.gz
